.char {animation-name: run; animation-iteration-count: infinite; animation-duration: 0.8s; animation-timing-function: linear;}
@keyframes run {
	0%, 50%, 100% {transform: rotate(0);}
	25% {transform: rotate(15deg);}
	75% {transform: rotate(-15deg);}
}