html,body {height: 5000px;}
.box {margin: 30px; padding: 40px; border: 20px solid red; width: 300px; height: 300px;}

.banner {position: relative; overflow: hidden;}
.slides  {position: relative; width: 100%;}
.slides2 {position: relative; width: 100%;}
.slides3 {position: absolute; width: 100%; top: 0;}
.slides  > .slide {position: absolute; top: 0; width: 100%;}
.slides2 > .slide {position: absolute; top: 0; width: 100%;}
.pager {width: 100%; display: flex; justify-content: center; align-items: center; position: absolute; bottom: 5%; z-index:9999;}
.pager > li {height: 16px; border-radius: 8px; border: 3px solid #dd637b; margin: 0 5px; cursor: pointer;}
.pager > .cir {width: 16px;}
.pager > .cir-sel {width: 32px; border-color: crimson; background-color: #dd637b}


